<section class="hero is-fullheight is-bold is-warning">
  <div class="hero-head">
    <header>
      <br>
      <br>
      <br>
      <h1 class="title"> Working Hive</h1>
    </header>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <form action="/login" method="post">
        <div>
          <label for="username" class="mainLabel">Correo</label>
          <br>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="email" name="username" id="username" placeholder="Mail">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
        </div>
        <div>
          <label for="password" class="mainLabel">Contraseña</label>
          <br>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" name="password" id="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
              </span>
            </p>
          </div>
        </div>

        {{#if message}}
          <div class="error-message">
            {{message}}
          </div>
        {{/if}}
        <br>
        <br>
        <div class="buttons">
          <button class="button is-dark is-medium is-outlined is-fullwidth" type="submit">
            <strong>Ingresa</strong>
          </button>
        </div>
      </form>
      <p class="account-message">
        ¿No cuentas con usuario? <a href="/signup"><br>Crea tu cuenta</a>
      </p>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
  </div>
</section>