<body id="principal">
  
<div>
<form action="/login" method="post">
  <div class="labelContainer">
    <label for="username" class="mainLabel">Correo</label>
    <br>
    <input type="text" name="username" id="username">
    <br>
  </div>

  <div class="labelContainer">
    <label for="password" class="mainLabel">Contraseña</label>
    <br>
    <input type="password" name="password" id="password">
  </div>

  {{#if message}}
  <div class="error-message">
    {{message}}
  </div>
  {{/if}}

  <div class="main">
    <input type="submit" value="Ingresa" class="button">
  </div>
</form>
</div>


</body>