<body class="inside">
  <section class="hero is-bold is-warning">
    <div class="hero-body titleDash">
      <h1 class="title "> Mis proyectos </h1>
  
  </div>
  </section>
  
  <div class="height">
  <div class="separado">
  <div class="box columns is-vcentered">
    <div class="column">
      <label class="label">Juego</label>
    </div>
    <div class="column">
      <div class="tags are-large has-background-grey is-centered box">
        <div class="modal">
          <div class="modal-background"><</div>
          <div class="modal-content is-clipped">
            <h1>Prueba</h1>
          </div>
          <button class="modal-close is-large"></button>
        </div>
        <span class=" button tag is-primary" id="showModal">PLANEACIÓN</span>
        <span class="tag is-warning">VALIDACIÓN</span>
        <span class="tag is-white">DISEÑO</span>
        <span class="tag is-danger">PRODUCCIÓN</span>
        <span class="tag is-info">ENTREGA</span>
      </div>
    </div>
  </div>
    <div class="box columns is-vcentered">
    <div class="column">
      <label class="label">Juego</label>
    </div>
    <div class="column">
      <div class="tags are-large has-background-grey is-centered  box">
        <span class="tag is-primary">PLANEACIÓN</span>
        <span class="tag is-warning">VALIDACIÓN</span>
        <span class="tag is-white">DISEÑO</span>
        <span class="tag is-danger">PRODUCCIÓN</span>
        <span class="tag is-info">ENTREGA</span>
      </div>
    </div>
  </div>

    <div class="box columns is-vcentered">
    <div class="column">
      <label class="label">Juego</label>
    </div>
    <div class="column">
      <div class="tags are-large has-background-grey is-centered box">
        <span class="tag is-primary">PLANEACIÓN</span>
        <span class="tag is-warning">VALIDACIÓN</span>
        <span class="tag is-white">DISEÑO</span>
        <span class="tag is-danger">PRODUCCIÓN</span>
        <span class="tag is-info">ENTREGA</span>
      </div>
    </div>
  </div>

    <div class="box columns is-vcentered">
    <div class="column">
      <label class="label">Juego</label>
    </div>
    <div class="column">
      <div class="tags are-large  is-centered has-background-grey box">
        <span class="tag is-primary">PLANEACIÓN</span>
        <span class="tag is-warning">VALIDACIÓN</span>
        <span class="tag is-white">DISEÑO</span>
        <span class="tag is-danger">PRODUCCIÓN</span>
        <span class="tag is-info">ENTREGA</span>
      </div>
    </div>
  </div>

    <div class="box columns is-vcentered">
    <div class="column">
      <label class="label">Juego</label>
    </div>
    <div class="column">
      <div class="tags are-large  is-centered has-background-grey box">
        <span class="tag is-primary">PLANEACIÓN</span>
        <span class="tag is-warning">VALIDACIÓN</span>
        <span class="tag is-white">DISEÑO</span>
        <span class="tag is-danger">PRODUCCIÓN</span>
        <span class="tag is-info">ENTREGA</span>
      </div>
    </div>
  </div>

    <div class="box columns is-vcentered">
    <div class="column">
      <label class="label">Juego</label>
    </div>
    <div class="column">
      <div class="tags are-large  is-centered has-background-grey box">
        <span class="tag is-primary">PLANEACIÓN</span>
        <span class="tag is-warning">VALIDACIÓN</span>
        <span class="tag is-white">DISEÑO</span>
        <span class="tag is-danger">PRODUCCIÓN</span>
        <span class="tag is-info">ENTREGA</span>
      </div>
    </div>
  </div>

    <div class="box columns is-vcentered">
    <div class="column">
      <label class="label">Juego</label>
    </div>
    <div class="column">
      <div class="tags are-large  is-centered has-background-grey box">
        <span class="tag is-primary">PLANEACIÓN</span>
        <span class="tag is-warning">VALIDACIÓN</span>
        <span class="tag is-white">DISEÑO</span>
        <span class="tag is-danger">PRODUCCIÓN</span>
        <span class="tag is-info">ENTREGA</span>
      </div>
    </div>
  </div>

    <div class="box columns is-vcentered">
    <div class="column">
      <label class="label">Juego</label>
    </div>
    <div class="column">
      <div class="tags are-large  is-centered has-background-grey box">
        <span class="tag is-primary">PLANEACIÓN</span>
        <span class="tag is-warning">VALIDACIÓN</span>
        <span class="tag is-white">DISEÑO</span>
        <span class="tag is-danger">PRODUCCIÓN</span>
        <span class="tag is-info">ENTREGA</span>
      </div>
    </div>
  </div>
      <div class="box columns is-vcentered">
    <div class="column">
      <label class="label">Juego</label>
    </div>
    <div class="column">
      <div class="tags are-large  is-centered has-background-grey box">
        <span class="tag is-primary">PLANEACIÓN</span>
        <span class="tag is-warning">VALIDACIÓN</span>
        <span class="tag is-white">DISEÑO</span>
        <span class="tag is-danger">PRODUCCIÓN</span>
        <span class="tag is-info">ENTREGA</span>
      </div>
    </div>
  </div>


  </div>

    

  <div class="separados">
    <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>

    <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>

        <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>

        <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>

        <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>

        <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>

        <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>

        <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>

        <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>
  </div>
  </div>
  
</body>