<body class="inside">
   <br>
  <div class="columns is-multiline is-mobile">
    <div class="column is-half">

    </div>
    <div class="column is-half">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-dark">
            <span>Mensual</span>
          </a>
        </p>
        <p class="control">
          <a class="button">
            <span>Anual</span>
          </a>
        </p>
      </div>
    </div>
    <div class="column is-one-quarter is-offset-1 is-flex is-horizontal-center">
      <figure class="image is-64x64">
        <img class="is-rounded" src="../images/emmanuel.jpg">
         <h3>  Manolo </h3>
      </figure>
      <br>
      <br>
      <br>
    </div>
    <div class="column is-half has-text-centered">
      
    </div>
    <div class="column is-3 is-offset-1 box">
      <article>
        <div class="media-content">
          <div class="content has-text-centered">
            <p>
              <strong>Resumen</strong>
              <br>
              <small> Tareas 
              <br>
              3
              <br>
              T. antes
              <br>
              0
              <br>
              T. en tiempo 
              <br>
              1
              <br>
              Demora 
              <br>
              1 </small>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="column is-1">
      
    </div>
    <div class="column is-half box">
      <article>
        <div class="media-content">
          <div class="content">
            <div class="has-text-centered">
              <h3><strong> Export </strong></h3>
            </div>
            <div class="tags are-large  is-centered">
              <span class="tag">TABLAS DE GANTT</span>
            </div>
            <br>
            <div>
              <p><strong> Fecha de inicio: </strong>   1 de febrero de 2019</p>
              <p><strong> Fecha de término: </strong>  20 de febrero de 2019</p>
              <p><strong> Tiempo total: </strong>20 días</p>
              <p><strong> Promedio: </strong>Normal </p>
            </div>
          </div>
        </div>
      </article>
    </div>

</body>