<div class="fullscreen-bg">
  <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
     
    <source src="https://player.vimeo.com/external/181867334.hd.mp4?s=f471bd3214673d428dad5b673b2fbbda96ac3014&amp;profile_id=174"
    type="video/mp4"> 
  </video>
  
</div>
<div class="et_pb_text_inner">
  <h2 class="tj-resp-h2" style="font-size: 65px; font-weight: bold; line-height: 1.2; text-align: center;">
    With business agility, progress is clear.</h2>
</div>
<div class="et_pb_text_inner">
  <h1 class="tj-resp-h1" style="font-size: 30px; line-height: 40px; font-weight: 100; text-align: center;">Move your
    enterprise forward with Working Hive cloud-based project management software.</h1>
</div>
<div class="main">
  <a href="/login" class="button is-dark is-outlined">
    <span>Iniciar sesión</span>
  </a>
</div>
<div class="main"> 
  <div class="main">
    <a href="/signup" class="button is-warning is-outlined">
      <span>Crea tu cuenta</span>
    </a>
  </div>
</div>