<!DOCTYPE html>
<html lang="en" {{#if user}} class="has-navbar-fixed-top" {{/if}}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" style="text/css">
  {{!-- <script src="../node_modules/bulma-switch/dist/css/bulma-switch.min.css" style="text/css"></script>
  <script src="../node_modules/bulma-badge/dist/css/bulma-badge.min.css" style="text/css"></script> --}}
</head>
<body>  
  {{> header}}
  {{{body }}}
  {{> footer}}
  <script src="/javascripts/script.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>