<body id="inside">
  
<section class="hero is-medium is-bold  is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Bienvenido {{{user.name}}}
      </h1>
      <h2 class="subtitle">
        ¡Ya estás dentro! <br>
Espera a que tu Director asigne tu posición
      </h2>
      <h3>
        <a href="/">Página principal</a>
      </h3>
    </div>
  </div>
</section>

 


</body>