<body id="inside">
  <br>
<div class="columns is-multiline is-mobile has-text-centered">
  <div class="column is-half">

  </div>
  <div class="column is-half">
    <div class="field has-addons">
      <p class="control">
        <a class="button is-dark">
          <span>Mensual</span>
        </a>
      </p>
      <p class="control">
        <a class="button">
          <span>Anual</span>
        </a>
      </p>
    </div>
  </div>
  <div class="column is-half">
    <h2><strong> Ingresos totales </strong></h2>
  </div>
  <div class="column is-half">
    <h2><strong>Ingresos por proyecto</strong></h2>
  </div>
  <div class="column is-half">
    <h3>$100,000</h3>
  </div>
  <div class="column is-half">
  
  </div>
  <div class="column is-half">
    <h2><strong> Pago de sueldos </strong></h2>
  </div>  
  <div class="column is-half">
    
  </div>   
  <div class="column is-half">
    <h3>$75,000</h3>
  </div> 
  <div class="column is-half">
    
  </div> 
  <div class="column is-half">
    <h2><strong> Productividad por empleado </strong></h2>
  </div>  
  <div class="column is-half">
    <a class="button is-warning" href="/trabajadores-detalle"><strong> Ver detalle </strong></a>
  </div> 
    <div class="column is-half">
    <h3>Proyectos en tiempo</h3>
  </div> 
  <div class="column is-half">
    <h3>2</h3>
  </div> 
  <div class="column is-half">
    <h3>Proyectos atrasados</h3>
  </div> 
  <div class="column is-half">
    <h3>1</h3>
  </div> 
  <div class="column is-half">
    <h3>Proyectos adelantados</h3>
  </div> 
  <div class="column is-half">
    <h3>2</h3>
  </div> 
  <div class="column is-half">
    <h2><strong> Tiempo promedio por etapas </strong></h2>
  </div> 
  <div class="column is-half">
   
  </div> 
  <div class="column is-half">
    <h3>Diseño</h3>
  </div> 
  <div class="column is-half">
    <h3>20 días</h3>
  </div> 
</div>  


</body>