<body id="inside">
  <br>
<div class="columns is-multiline is-mobile has-text-centered">
  <div class="column is-half">

  </div>
  <div class="column is-half">
    <div class="field has-addons">
      <p class="control">
        <a class="button is-dark">
          <span>Mensual</span>
        </a>
      </p>
      <p class="control">
        <a class="button">
          <span>Anual</span>
        </a>
      </p>
    </div>
  </div>
</div>

  <div class="tile is-ancestor">
    <div class="tile is-vertical is-parent is-1">

    </div>
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title">Ingresos totales</p>
        <p class="title"><strong class="has-text-link"> ${{moneda sumaIngresos}} </strong></p>
        <p class="title">Sueldos pagados</p>
        <p class="title"><strong class="has-text-danger"> ${{moneda sumaSalarios}} </strong></p>
      </div>
      <div class="tile is-child box">
        <p class="title">Productividad por empleado</p>
        <a class="button is-warning " href="/trabajadores-detalle"><strong> Ver detalle </strong></a>
      </div>
    </div>
    <div class="tile is-parent is-5">
      <div class="tile is-vertical is-child box">
        <p class="title is-mobile">Ingresos por proyecto</p>
        <canvas id="myChart" class="is-1" width="5" height="5" style="width:5px; height: 5px"></canvas>
      </div>
    </div>
  </div>
  <div class="tile is-parent is-12">
    <div class="tile is-child box">
      <p class="title">Datos generales</p>
      <divx class="columns is-multiline has-text-centered">
        <div class="column is-half subtitle">
          <strong> Estatus proyectos </strong>
        </div>
        <div class="column is-half subtitle">
          <strong> # Proyectos </strong>
        </div>
        <div class="column is-half">
          <p> Proyectos en tiempo </p>
        </div>
        <div class="column is-half">
          2
        </div>
        <div class="column is-half">
          Proyectos atrasados
        </div>
        <div class="column is-half">
          1
        </div>
        <div class="column is-half">
          Proyectos adelantados
        </div>
        <div class="column">
          2
        </div>
        <div class="column is-half subtitle">
          <strong> Etapas </strong>
        </div>
        <div class="column is-half subtitle">
          <strong> Tiempo promedio de término </strong>
        </div>
        <div class="column is-half">
          Producción
        </div>
        <div class="column is-half">
          20 días
        </div>
      </divx>
    </div>
  </div>
  {{!-- <div class="column is-5">
  
  </div>
  <div class="column is-half">
    
    
    
  </div>
  <div class="column is-offset-1 is-3">
    
  </div>
  <div class="column is-half">
    
  </div>  
  <div class="column is-half">
    
  </div>   
  <div class="column is-half">
    
  </div> 
  <div class="column is-half">
    
  </div> 
  <div class="column is-half">
    <h2><strong> Productividad por empleado </strong></h2>
  </div>  
  <div class="columns is-multiline is-mobile has-text-centered">
  <div class="column is-half">
    <a class="button is-warning" href="/trabajadores-detalle"><strong> Ver detalle </strong></a>
  </div> 
    <div class="column is-half">
    <h3>Proyectos en tiempo</h3>
  </div> 
  <div class="column is-half">
    <h3>2</h3>
  </div> 
  <div class="column is-half">
    <h3>Proyectos atrasados</h3>
  </div> 
  <div class="column is-half">
    <h3>1</h3>
  </div> 
  <div class="column is-half">
    <h3>Proyectos adelantados</h3>
  </div> 
  <div class="column is-half">
    <h3>2</h3>
  </div> 
  <div class="column is-half">
    <h2><strong> Tiempo promedio por etapas </strong></h2>
  </div> 
  <div class="column is-half">
   
  </div> 
  <div class="column is-half">
    <h3>Diseño</h3>
  </div> 
  <div class="column is-half">
    <h3>20 días</h3>
  </div> 
</div>  
</div> --}}


<script>
  window.onload = function () {
var ctx = document.getElementById("myChart");
var names = []

{{#each proyectos}}
  names.push("{{this}}")
{{/each}}

var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: names,
        datasets: [{
            label: 'Ingresos',
            data: [{{datos}}],
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 206, 86)',
                'rgb(75, 192, 192)',
                'rgb(153, 102, 255)',
                'rgb(255, 159, 64)'
            ],
            borderColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 206, 86)',
                'rgb(75, 192, 192)',
                'rgb(153, 102, 255)',
                'rgb(255, 159, 64)'
            ]
        }]
    },
    options: Chart.defaults.doughnut
});
  }



</script>

</body>