<body class="inside">
   <br>
  <div class="columns is-multiline is-mobile has-text-centered">
    <div class="column is-half">

    </div>
    <div class="column is-half">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-dark">
            <span>Mensual</span>
          </a>
        </p>
        <p class="control">
          <a class="button">
            <span>Anual</span>
          </a>
        </p>
      </div>
    </div>
    <div class="column is-one-quarter">
      <h3><strong> Nombre </strong></h3>
    </div>
    <div class="column is-one-quarter">
      <h3><strong> Proyectos </strong></h3>
    </div>
    <div class="column is-one-quarter">
      <h3><strong> Tareas </strong></h3>
    </div>
    <div class="column is-one-quarter">
      <h3><strong> Ingresos por día </strong></h3>
    </div>
        <div class="column is-one-quarter">
      <h3>Manolo</h3>
    </div>
    <div class="column is-one-quarter">
      <h3>6</h3>
    </div>
    <div class="column is-one-quarter">
      <h3>30</h3>
    </div>
    <div class="column is-one-quarter">
      <h3>$800</h3>
    </div>
</body>