@charset "utf-8";
@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/bulma-switch/src/sass/index.sass';
// @import '../../node_modules/bulma-badge/src/sass/index.sass';

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#inside {
  background-image: none;
  height: 100%;
}

.is-fullheight {
  background-image: url('../images/fondo4.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 200%
}

.title {
  text-align: center;
}

.button {
 background-color: gray;
 padding: 12px;
 color: white;
 border-radius: 6px;
 text-decoration: none;
 font-size: 1.8rem;
}

.main {
  margin: 30px;
  text-align: center;
}

.mainLabel {
  font-size: 2rem;
  font-weight: bolder;
}

html {
  font-size: 10px;
}

.labelContainer {
  margin: 4rem 0 0 4rem;
}
.error-message {
  margin: 1rem 0 0 4rem;
}

.height {
  height: 100%;
}
.separado {
  height: 65vh;
  display: block;
  overflow-y: auto;
  flex-direction: column;
}
.separados {
  height: 23vh;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

.titleDash {
  padding: 5px !important;
}

.is-horizontal-center {
  justify-content: center;
}

.is-horizontal-center {
  justify-content: center;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
table th {
  padding-left: 8px;
  vertical-align: middle !important;
}
table td,
table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  //background: #ffed86;
  font-size: 16px;
}

table tbody tr {
  height: 15px;
  border-bottom: 1px solid #e3f1d5;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: left;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}

@media screen and (max-width: 48em) {
  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Correo";
    background-color: #FFDA4B;
    border-radius: 6px;
    text-align: center;
  }
  table tbody tr td:nth-child(2):before {
    content: "Nombre";
    background-color: #FFDA4B;
    border-radius: 6px;
    text-align: center;
  }
  table tbody tr td:nth-child(3):before {
    content: "Rol";
    background-color: #FFDA4B;
    border-radius: 6px;
    text-align: center;
  }
  table tbody tr td:nth-child(4):before {
    content: "Sueldo";
    background-color: #FFDA4B;
    border-radius: 6px;
    text-align: center;
  } 
  table tbody tr td:nth-child(5):before {
    content: "PM";
    background-color: #FFDA4B;
    border-radius: 6px;
    text-align: center;
  }
  table tbody tr td:nth-child(6):before {
    content: " ";
  }
}
 @media screen and (max-width: 48em) {
  .fullscreen-bg__video{
    display: none;
  }
 .fullscreen-bg{
    background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)), url("../images/backgroundIndex.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    background-position: center !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .et_pb_text_inner h2{
   margin-top: 150px !important;
  }
  .tj-resp-h2{
    font-size: 30px !important;
  }
  .et_pb_text_inner h1{
        font-size: 15px !important;

  }
}

 @media (min-width: 48em) and (max-width: 900px) {
  
  .et_pb_text_inner h2{
   margin-top: 100px !important;
  }
  .tj-resp-h2{
    font-size: 40px !important;
  }
}
 @media (min-width: 900px) and (max-width: 1200px) {
  
  .et_pb_text_inner h2{
   margin-top: 200px !important;
  }
  .tj-resp-h2{
    font-size: 45px !important;
  }
}

.et_pb_text_inner h2{
  font-family: 'museo-sans',"Open Sans",Arial,sans-serif;
  vertical-align: baseline;
  margin-top: 250px;
  font-size: 65px;
  font-weight: bold;
  line-height: 1.2;
  color: #fff!important;
}
.et_pb_text_inner h1{
   color: #fff!important;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-color: #292929;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
.table__wrapper {
  overflow-x: auto;
}

.pricing {
  width: 100%;
}